[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pyyaml = "*"
munch = "*"
requests = "*"
numpy = "*"
paramiko = "*"
socketio = "*"
python-socketio = "*"
google-api-python-client = "*"


[requires]
python_version = "3.6"
